body {
    font-family: 'Courier New', monospace;
	background: #121212;
	margin: 30px;
	color: #e6e6e6;
	}
main {
    text-align: center;
}
input[type="text"], textarea {
    color: #e6e6e6;
    background-color: #262626; 
    border: #262626;
}
